div[b-fcaitrirms] {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 400px;
    height: 150px;
    border-style: groove;
    border-color: #4f5050;
}

img[b-fcaitrirms] {
    height: 100px;
    width: 100px;
}

ul[b-fcaitrirms] {
    list-style: none;
}

.nav-link.active[b-fcaitrirms] {
    color: black;
    text-decoration: none;
}