div {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 250px;
    height: 110px;
    border-style: groove;
    border-color: #4f5050;
}

img {
    height: 100px;
    width: 100px;
}

ul {
    list-style: none;
}