/* _content/RazorPages/Views/Catalog/ProductInformation.cshtml.rz.scp.css */
div[b-fcaitrirms] {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 400px;
    height: 150px;
    border-style: groove;
    border-color: #4f5050;
}

img[b-fcaitrirms] {
    height: 100px;
    width: 100px;
}

ul[b-fcaitrirms] {
    list-style: none;
}

.nav-link.active[b-fcaitrirms] {
    color: black;
    text-decoration: none;
}
/* _content/RazorPages/Views/Catalog/ProductsList.cshtml.rz.scp.css */
div[b-gr802l94qv] {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 400px;
    height: 150px;
    border-style: groove;
    border-color: #4f5050;
}

img[b-gr802l94qv] {
    height: 100px;
    width: 100px;
}

ul[b-gr802l94qv] {
    list-style: none;
}

.nav-link.active[b-gr802l94qv] {
    color: black;
    text-decoration: none;
}
/* _content/RazorPages/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fbuqqukn6t] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fbuqqukn6t] {
  color: #0077cc;
}

.btn-primary[b-fbuqqukn6t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fbuqqukn6t], .nav-pills .show > .nav-link[b-fbuqqukn6t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fbuqqukn6t] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fbuqqukn6t] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fbuqqukn6t] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fbuqqukn6t] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fbuqqukn6t] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
